.header {
    position: absolute;
    top     : 10px;
    /* Adjust this value for the desired vertical position */
    right   : 10px;
    /* Adjust this value for the desired horizontal position */
}

.middle {
    margin-right: 30rem;
}

.footer {
    margin          : 10rem;
    padding         : 2.5rem;
    background-color: bisque;
}